<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>  
    <link rel="stylesheet" href="~/css/Style.css"/>
</head>
<body>
    <div class="header-style"> 
        <a>Главное</a>
        <a>Услуги</a>
        <a>Проекты</a>
        <a>Блог</a>
        <a>Контакты</a> 
    </div>
    <div>

        @RenderBody()
        <script>
            getMessage()
        </script>
    </div>

     
</body>
</html>
