<h2>Список сообщений</h2>
    <div>
        <input type="hidden" id="userId" />
        <p>
            Имя:<br />
            <input id="userName" />
        </p>
        <p>
            Сообщение:<br />
            <input id="userMessage"/>
        </p>
        <p>
            <button id="saveBtn">Сохранить</button>
            <button id="resetBtn">Сбросить</button>
        </p>
    </div>
    <table>
        <thead><tr><th>Имя</th><th>Возраст</th><th></th></tr></thead>
        <tbody class="tbody">
        </tbody>
    </table>
    <script>
         
        getMessage();
    </script>