<div style="margin-left:210px;">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Время заявки</th>
                <th>Имя</th>
                <th>Текст заявки</th>
                <th>Контакты</th> 
            </tr>
        </thead>
        <tbody> 
        </tbody> 
    </table>
    <script>
async function getMessage(){ 
    const response = await fetch("https://localhost:44319/api/request", {
        method: "GET",
        headers: { "Accept": "application/json" }
    });
    if (response.ok == true) { 
        const messages = await response.json();
        const rows = document.querySelector("tbody");
        messages.forEach(el => rows.append(row(el)));
    }
    else {
        alert("fuck")
    }
}
function row(message) {

    const idTd = document.createElement("tr");
    idTd.setAttribute("data-row-id", message.id);
    //idTd.append(message.id);
    //tr.append(idTd);

    const nameTd = document.createElement("th");
    nameTd.append(message.name);
    tr.append(nameTd);

    const textTd = document.createElement("th");
    textTd.append(message.messageText);
    tr.append(textTd); 
     
    //const linksTd = document.createElement("td");

    //const editLink = document.createElement("button");
    //editLink.append("Изменить");
    //editLink.addEventListener("click", async () => await getUser(user.id));
    //linksTd.append(editLink);

    //const removeLink = document.createElement("button");
    //removeLink.append("Удалить");
    //removeLink.addEventListener("click", async () => await deleteUser(user.id));

    //linksTd.append(removeLink);
    //tr.appendChild(linksTd);

    return tr;
}
getMessage();
    </script>
</div>
 